repos:
- repo: local
  hooks:
  - id: pre-commit autoupdate
    name: autoupdate pre-commit
    entry: pre-commit autoupdate
    language: system
    pass_filenames: false
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.14
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [--fix]
      types: [python]
    # Run the formatter.
    - id: ruff-format
      types: [python]
- repo: local
  hooks:
  - id: mypy
    name: mypy
    entry: mypy --python-executable .venv/bin/python src/
    language: system
    pass_filenames: false
    types: [python]
  - id: ty
    name: ty
    entry: ty check --python .venv src/ tests/
    language: system
    pass_filenames: false
    types: [python]
  - id: run-tests
    name: run tests
    entry: .venv/bin/coverage run -m pytest
    language: system
    pass_filenames: false
    types: [python]
  - id: check-coverage
    name: Check Coverage
    entry: .venv/bin/coverage report -m --fail-under=100
    language: python
    pass_filenames: false
    types: [python]
- repo: https://github.com/semgrep/pre-commit
  rev: "v1.149.0"
  hooks:
    - id: semgrep
      args:
        - --config
        - p/ci
        - --error
        - --skip-unknown-extensions
        - --metrics
        - 'off'
- repo: https://github.com/Yelp/detect-secrets
  rev: "v1.5.0"
  hooks:
  - id: detect-secrets