repos:
- repo: local
  hooks:
  - id: uv-lock-upgrade
    name: Run uv lock --upgrade
    entry: uv lock --upgrade
    language: python
    pass_filenames: false
  - id: pre-commit autoupdate
    name: autoupdate pre-commit
    entry: pre-commit autoupdate
    language: system
    pass_filenames: false
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.15.0
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [--fix]
      types: [python]
    # Run the formatter.
    - id: ruff-format
      types: [python]
- repo: local
  hooks:
  - id: mypy
    name: mypy
    entry: uv run mypy src/
    language: system
    pass_filenames: false
    types: [python]
  - id: ty
    name: ty
    entry: uv run ty check src/ tests/
    language: system
    pass_filenames: false
    types: [python]
  - id: run-tests
    name: run tests
    entry: uv run coverage run -m pytest
    language: system
    pass_filenames: false
    types: [python]
  - id: check-coverage
    name: Check Coverage
    entry: uv run coverage report -m --fail-under=100
    language: system
    pass_filenames: false
    types: [python]
- repo: https://github.com/semgrep/pre-commit
  rev: "v1.151.0"
  hooks:
    - id: semgrep
      args:
        - --config
        - p/ci
        - --error
        - --skip-unknown-extensions
        - --metrics
        - 'off'
- repo: https://github.com/Yelp/detect-secrets
  rev: "v1.5.0"
  hooks:
  - id: detect-secrets
